<div class="container">
    <h1>Compose Email</h1>
    <form (ngSubmit)="doSubmitForm()">
        <mat-form-field class="field" appearance="fill">
            <mat-label>To</mat-label>
            <input name="to" [(ngModel)] = "data.to" matInput>
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
            <mat-label>Subject</mat-label>
            <input name="subject" [(ngModel)] = "data.subject" matInput>
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
        <mat-label>Message</mat-label>
        <textarea rows = "15" name="content" [(ngModel)] = "data.content" matInput></textarea>
        </mat-form-field>
        <div class="text-center">
            
                <button mat-raised-button color="primary" type="submit">Send</button>
           
                <button mat-raised-button color="accent" type="reset">Reset</button>

        </div>
        </form>
</div>
